<H1>Welcome <%= @user.name.capitalize %> </h1>
<h2>Here are all available newspaper subcriptions</h2>

<form action="<%= user_url(@user) %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="put">
	
	<ul>
		<% @newspapers.each_with_index do |newspaper, ii| %>
			<li><strong><%= newspaper.title %></strong></li>
			<br>
			<% plans = newspaper.subscription_plans %>
			<% unless plans.empty? %>
				<label for="user_subscription_plan_ids">Subscription plans:</label>
				<select id="user_subscription_plan_ids">
					<option >Choose plan here</option>
				<% plans.each do |sub_plan| %>
				<option name="user[:subscription_plan_ids][]" 
					value="<%= sub_plan.id %>">
					price: $<%= sub_plan.price %>, <%= sub_plan.option %>
				</option>
						
				<% end %>
			</select>
			<% end %>
		<% end %>
	</ul>


	<input type="submit" value="Subscribe!">
</form>
